html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

.home {
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 25% 10% auto 10% 25%;
    grid-template-rows: 5% 50% 25% 15%;
    grid-template-areas: 
    " . . nav . ."
    " . . . . ."
    " . desc desc desc .";
}

nav {
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: aquamarine;
    align-items: center;
    justify-content: flex-start;
    grid-area: nav;
}

nav > div {
    justify-content: right;
    margin: 0 auto;
}

#home-background {
    max-width: fit-content;
}

div {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: gray;
    align-items: center;
    justify-content: flex-start;
    grid-area: desc;
}

h1 {
    margin: 20px auto 0 auto;
    font-size: 50px;
}

p {
    margin-top: 0;
}

