html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

.home {
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 25% 10% auto 10% 25%;
    grid-template-rows: 5% 50% 25% 15%;
    grid-template-areas: 
    " . . nav . ."
    " . . . . ."
    " . desc desc desc .";
}

nav {
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
    justify-content: flex-start;
    grid-area: nav;
}

nav > div {
    justify-content: right;
    margin: 0 auto;
    background-color: transparent;
    color: whitesmoke
}

.background-img {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.home-overlay {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: rgb(160, 160, 160, 0.7);
    align-items: center;
    justify-content: flex-start;
    grid-area: desc;
}

.name {
    margin: 20px auto 0 auto;
    font-size: 4rem;
}

.description {
    margin-top: 0;
}

.about {
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 4fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    border-style: solid;
}

.avatar {
    grid-column-start: 2;
    grid-row-start: 2;
}

.about-me {
    align-items: center;
    justify-content: flex-start;
    grid-column-start: 3;
    grid-row-start: 2;
    margin-left: 1rem;
}

.work {
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    border-style: solid;
}

.work-title {
    grid-column-start: 1;
    grid-row-start: 1;
    text-align: center;
}

.resume-and-skills {
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    border-style: solid;
}

.skills-title {
    grid-column-start: 2;
    grid-row-end: 2;
}

