html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: #003153;
}

.home {
    margin: 0;
    min-height: 100vh;
}

.navbar{
    height: 5rem;
}

.navbar-brand {
    color: #f8f8ff;
    font-weight: 500;
    font-size: 1.25rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.scrolling-active {
    background-color: #89cff0;
    transition: 1000ms;
    height: 3.5rem
}


.scrolling-active .navbar-brand{
    color: #003366;
    font-weight: 500;
    font-size: 1.25rem;
}

.background-img {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.home-overlay {
    left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%);
	text-align: center;
    background-color: rgba(76, 81, 109, 0.7);
    width: 50vw;
    padding-bottom: 30px;
}

.name {
    margin: 20px auto 0 auto;
    font-size: 4rem;
    color: white;
}

.description {
    margin-top: 0;
    font-size: 1.5em;
    color: white
}

.about {
    min-height: 100vh;
    padding-top: 200px;
}

#avatar {
    border-radius: 50%;
}

.about-me {
    align-items: center;
    justify-content: flex-start;
}

.about-me-title {
    font-size: 50px;
}

.bio {
    font-size: 1.25rem;
    padding-top: 50px;
    color: #536872;
}

.work {
    min-height: 100vh;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: rgba(220, 220, 220, 0.3);
}

.work-title {
    text-align: left;
}

.work-heading {
    font-size: 50px;
    padding-top: 50px;
}

.work-content {
    margin-top: 70px;
}

#card-container {
    justify-content: center;
    align-items: center;
}

.github-btn {
    background-color: #0070b8;
    color: whitesmoke
}

.play-btn {
    background-color: #059033;
    color: whitesmoke;
}

.skills {
    min-height: 100vh;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
}

.skills-heading {
    font-size: 50px;
    padding-top: 50px;
}

.icons-list {
    padding-top: 150px;
}

.logo-name {
    text-align: center;
}

.contact {
    min-height: 100vh;
    padding-top: 100px;
    text-align: center;
    background-color: #003366;
    color: whitesmoke;
}

.contact-title {
    font-size: 50px;
}

.links-div {
    min-height: 60vh;
}

@media only screen and (max-width: 768px){
    .navbar {
        background-color: #003153;
        max-height: 50px;
    }
    
    .navbar-brand {
        margin-left: 12px;
        margin-right: 12px; 
        font-size: 1rem;
        color: whitesmoke;
    }

    .home-overlay {
        top: 30%;
    }

    .name {
        font-size: 50px;
    }

    .description {
        font-size: 18px;
        padding-top: 10px;
    }
    
    #avatar {
        max-height: 300px;
        max-width: 300px;
        margin-bottom: 30px;
    }

    .about-me-title {
        font-size: 35px;
    }

    .bio {
        text-align: justify;
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .about-row {
        flex-direction: column;
        text-align: center;
        margin-bottom: 200px;
    }
    
    .work-title {
        margin-top: 0;
        text-align: center;
    }

    .work-heading {
        padding-top: 0;
        font-size: 35px;
    }
    
    .work-content {
        padding-bottom: 60px
    }

    .icons-list {
        flex-flow: wrap;
        align-items: ;
    }

    .skills {
        text-align: center;
    }
    
    .skills-heading {
        font-size: 35px;
        padding-top: 0;
    }

    .icons-list {
        padding-top: 10px;
    }

    .logo-name {
        padding: 30px;
    }
    
    .links-div {
        flex-direction: column;

    }

    .contact {
        padding-top: 50px;
    }
    
    .contact-title {
        font-size: 35px;
    }

    .links {
        padding-top: 40px;
    }
}
